$primary-color: #4BBB46;
$primary-light-color: #9A67EA;
$primary-dark-color: #320B86;
$primary-text-color: #FFFFFF;
$background-color: #FAFAFA;
$cards-dialogs-color: #FFFFFF;
$error-color: #FF5440;
$warning-color: #FFBE46;
$dark-grey: #40404D;
$green: #8ACB87;
$light-grey: #575761;
$bg-grey: #F7F7F9;